@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,200&family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Imperial+Script&display=swap');
:root{
  font-family: 'Montserrat';
  font-family: 'Orbitron';
  font-family: 'Imperial Script' cursive;
  font-family: 'Goldman', cursive;
}
.attribution{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    color: #ffffff;
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: #ffffff;
    font-size: 11px;
    text-align: center;
  }
  body{
    min-height: 100%;
    margin: 8px;
    width: 649;
    height: 0;
    background-color: black;
  }

  .img1{
    height: 230px;
  }
    .contenido2{
      box-sizing: content-box;
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  h1{
    text-decoration: none;
    background: radial-gradient( #ffffff,#5adde3, #32b2e4);
    -webkit-background-clip: text;
    color: transparent;  
    padding: 10px;
    font-size: 18px;
    font-family: Goldman;
    font-weight:bolder;
  }
  .contenido2 a{
    text-decoration: none;
      background: radial-gradient( #ffffff,#71c3e3,#fff );
      -webkit-background-clip: text;
      color: transparent;  
      padding: 10px;
      font-size: 18px;
      font-family: Goldman;
      font-weight:bolder;
  }
  .linkedin{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: content-box;
  }
  .redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    box-sizing: content-box;
  }
  .icon01{
    margin: 2px;
    content: url("./images/linkedin.webp");
  }
  .icon02{
    margin: 2px;
    content: url("./images/calls.webp");
  }
  .icon03{
    margin: 2px;
    content: url("./images/email.webp");
  }
  .icon1{
    margin: 2px;
    content: url("./images/facebook.svg");
  }
  .icon2{
    margin: 2px;
    content: url("./images/instagram.svg");
  }
  .icon3{
    margin: 2px;
    content: url("./images/twitter.svg");
  }
  .icon4{
    margin: 2px;
    content: url("./images/github.svg");
  }
  .icon5{
    margin: 2px;
    content: url("./images/twitch.svg");
  }
  p{
    font-size: 12px;
   font-family: Montserrat;
  }
  h2{
    font-weight: lighter;
    font-size: 12px;
    font-weight:300;
    font-family: orbitron;
    text-align: center;
    color: #ffffff;
  }
  h3{
    font-size: 11px;
    color: #808588;
  }
.datos{
  float: left;
  border-radius: 20px;
  width: 200px;
    padding: 15px;
    margin: 10px;
    padding: 15px;
    margin: 10px;
  }
  p{
    text-align: left;
    color: #69bad4;
  }
  .info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;}
  
  .habilidades{
    float: left;
    border-radius: 20px;
    width: 200px;
      padding: 15px;
      margin: 10px;
      padding: 15px;
      margin: 10px;
  }
  .educacion{
    text-align: left;
    float: left;
    border-radius: 20px;
    width: 200px;
      padding: 15px;
      margin: 10px;
  }
  .experiencia{ 
  float: left;
    border-radius: 20px;
    width: 200px;
      ;
      padding: 15px;
      margin: 10px;
  }
  